@import "../../variables";

.header-container {
  padding-left: 20px;
  max-height: 50px;
  width: 100%;
}

.logo {
  max-height: 46px;
  float: left;
}

.button-pane {
  float: right;
  padding-right: 20px;
  min-width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.bar {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 4px;
  background-color: $base-color;
}

.menu-profile {
  float: left;
  margin-right: 20px;

  .mat-icon {
    svg {
      font-size: 36px;
      vertical-align: middle;
    }
  }

  .fa-icon {
    svg {
      font-size: 28px;
      vertical-align: middle;
    }
  }

  svg {
    color: #858585;
    cursor: pointer;
  }
}