
.menu-container, .submenu {
  opacity: 1;
  position: fixed;
  z-index: 1000;
  box-shadow: 7px 8px 3px -5px rgba(0, 0, 0, 0.62);
  color: white;
  background-color: #232323;
  border: 1px #000000 solid;
  padding: 3px 10px;
  width: 270px;
  font-size: 14px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 4px;
    padding-left: 12px;

    &:hover {
      background-color: #393939;
    }
  }

  hr {
    background-color: #858585;
    margin-top: .4rem;
    margin-bottom: .3rem;
  }
}

.submenu {
  > ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  position: absolute;
  left: 258px;
  top: 0;
}