.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
  margin-bottom: 5px;

  &:focus {
    border-color: #2196f3;
  }
}


.upload-presentation {
  position: fixed;
  z-index: 1300;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}

.upload-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: 0;
}

.upload-dialog {
  max-width: 600px;
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

div.MuiDialogTitle-root {
  padding: 0 0 10px;
}

div.MuiDialogContent-root{
  padding: 0;
}

div.MuiDialogActions-root{
  padding-right: 0;
}

.dialog-container {
  padding: 24px 35px 10px 35px;
}