@import "../variables";

$errorColor: #e04f5f;

#resize {
  cursor: n-resize;
}

.error-hr {
  width: $centerWidth;
  display: inline-block;
  border-top: 2px solid rgba(0, 0, 0, .1);
  margin: 0;
}

.error-container {
  position: absolute;
  z-index: 999;
  background-color: transparent;
  height: $errorBoxHeight;
  width: 100%;
}

.error-bar {
  background-color: #007acc;
  height: $errorBarHeight;
  width: 100%;
  color: white;
  //position: relative;
  font-size: 0.75em;
  position: absolute;
  bottom: 0;

  svg {
    font-size: 1.3em;
  }
}

.position-left {
  div {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    line-height: 20px;
    padding-top: 4px;
  }

  div:last-of-type {
    padding-left: 5px;
    padding-top: 0;
  }

  text-align: left;
}

.error-top .position-right {
  div {
    &:first-of-type {
      padding-right: 5px;
    }

    padding-right: 10px;
  }
}

.position-right div.error-count {
  color: $errorColor;
  padding-right: 20px;
}

.position-right {
  div {
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
  }

  span {
    padding-left: 20px;
  }

  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
}

.error-top {
  height: $errorBarHeight;
  background-color: #f3f3f3;
  border-bottom: 2px #d4d4d4 solid;
  position: relative;
  font-size: 0.75em;
  color: #7e7e7e;

  .position-left {
    div {
      padding-left: 37px;
      line-height: 25px;
    }
  }

}

.error-list {
  height: calc(100% - 25px);
  background-color: white;
  //max-height: calc(#{$errorBoxHeight} - #{$errorBarHeight} - 5px);
  //max-height: 80%;
  overflow: auto;
  text-align: left;
  padding-left: 15px;
  color: $errorColor;
  font-size: .8em;
  margin: 0 auto;

  div {
    cursor: pointer;

    &:first-of-type {
      margin-top: 7px;
    }

    margin-bottom: 2.8px;

    &:hover {
      background-color: #d0d0d0;
    }
  }

  span {
    padding-left: 10px;
    color: #d82323;
  }

  svg {
    font-size: .8em;
  }
}

.position-right .close-button {
  border-left: 2px #d5d5d5 solid;
  height: 15px;
  line-height: 15px;
  font-size: 1.0em;

  & > svg {
    margin-left: 12px;
  }
}

.hand-cursor {
  cursor: pointer;
}

.middle-container.vs-dark, .middle-container.hc-black {
  .error-top {
    background-color: #383838;
    color: white;
  }

  .error-list {
    div {
      &:hover {
        background-color: #323232;
      }
    }
  }
}

.middle-container.vs-dark {
  .error-list {
    background-color: #1e1e1e;
  }
}

.middle-container.hc-black {
  .error-list {
    background-color: black;
  }
}
