@import "variables";

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App {
  overflow: hidden;
  text-align: center;
  max-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo {
  max-height: 46px;
  float: left;
}

.header-container {
  padding-left: 20px;
  max-height: 50px;
  width: 100%;
}

.navbar {
  height: 50px;
}

.navbar-brand {
  float: left;
  margin-right: 0;
}

.nav-button {
  float: right;
  padding-right: 30px;
  min-width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.3;
  border-radius: 3px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: $base-color;
  border-color: $base-color;
}

.btn, button {
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.default-button span {
  padding: 0 10px;
}

.outline-button{
  background-color: transparent;
  border: #004494 solid 2px;
  color: #004494;
}


.title {
  float: left;
  color: #616161;
  font-size: 20px;
  margin-top: 19px;
  margin-left: -10px;
  font-family: eui-light, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.bar {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 4px;
  background-color: $base-color;
}

button {
  background: transparent;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &:focus {
    outline: none;
  }
}

.nav-container {
  height: 100vh;
  display: inline-block;
  vertical-align: top;
}


.middle-container {
  display: inline-block;
  vertical-align: top;
  width: calc(#{$centerWidth} - #{$settingsNavWidth});
  height: calc(100vh - #{$navbarHeight} - #{$barHeight});
  position: relative;
  overflow: auto;
}

.vtl-box.vtl, .vtl-box.default {
  background-color: white;
}

.vtl-box.vs-dark, .vtl-box.hc-black {
  background-color: #1e1e1e;

  .error-hr {
    border-top: 2px solid rgba(215, 215, 215, 0.1);
  }
}

.vtl-box.hc-black {
  background-color: black;
}

.top-bar {
  height: 30px;
  width: 100%;
  background: #484848;
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;

  span {
    line-height: 2;
    vertical-align: middle;

  }

  & > span {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.version-container {
  float: right;
  margin-right: 80px;
  color: #9c9c9c;
}

.select-version {
  margin-left: 10px;
  width: 70px;
  background-color: transparent;
  color: #9c9c9c;
  border: none;
  line-height: 0;
  padding-top: 3px;
  z-index: 10;
  position: relative;
  height: 32px;
}

.form-control:focus {
  background: transparent;
  color: #9c9c9c;
  border: none;
  box-shadow: none;
}

.vtl-container {
  width: 100%;
  height: calc(100% - #{$topBarHeight} - #{$errorBarHeight} - #{$errorBoxHeight});

}

.hide-error-box {
  .vtl-container {
    height: calc(100% - #{$topBarHeight} - #{$errorBarHeight});
  }

  .error-container {
    display: none;
  }
}

.editor-container {
  height: 100%;
}

.overlay-full {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 99;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.left-padding-none {
  padding-left: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.justify-content-end{
  justify-content: flex-end!important;
  display: flex;
}

button {
  &.gray-background{
    background-color: #c4c4c4;
    border-color: #afafaf;
  }
}