$base-color: #004494;
$leftNavWidth: 50px;
$centerWidth: calc(100% - #{$leftNavWidth});
$settingsNavWidth: 270px;
$barHeight: 5px;
$navbarHeight: 50px;
$errorBoxHeight: 25%;
$topBarHeight: 40px;
$errorBarHeight: 25px;
$gray-background-color: #e0e0e0;
$gray-border-color: #d0d0d0;


//background 0096f9
// border 227db2
